<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Ejemplo de Handlebars</title>
</head>
<body>
  <h1>Template renderizado con Handlebars!</h1>
  <p>
    <strong>Dirección de contacto de {{{myName}}}:</strong>
    <a href="mailto:memo.board.9999@gmail.com">
      memo.board.9999@gmail.com
    </a>
  </p>
  <a href="/">Regresar al home page</a>
  <br>
  <p>Por cierto, soy de {{{country}}} y el número {{{randomNumber}}} cambiará cada que recarges la página.</p>
  <a href="/other-hbs-page">Ir a otra página renderizada por Handlebars</a>
  {{!-- Llamando partial de footer --}}
  {{>myfooter}}
</body>
</html>