<footer class="custom-footer">
  <p>© Todos los derechos reservados</p>
  <div class="links-container">
    <a href="https://facebook.com">Facebook</a>
    <a href="https://google.com">Google</a>
    <a href="https://github.com">Github</a>
  </div>
</footer>